body{
    margin:0;
    font-family: Caveat;
}

.main-box{
   display:grid;
   background-color: lightgrey; 
   
}
.header1{
    width:100%;
    margin:auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display:grid;
    grid-auto-flow: column;
    background-color: #014684;

}
.topnav {
  background-color: #014684;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 29px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ddd;
  color: #014684;
}
.nav_link{
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color:#f2f2f2;
}
.title{
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 70px;
    color:#014684;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .5);   
}
.content{
    display:grid;
    grid-auto-flow: column;
    padding:10px;
}
.mainimage{
    width:100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
.maininfo{
    margin-top: 0;
    font-size: 31px;
    margin-left: 30px;
}
.footer1{
    display:grid;
    grid-auto-flow: column;
    background-color:#014684;
    font-size:40px;
}
.logo{
    width:80px;
    margin:8px;
    
}
.footertext{
    text-decoration: none;
    color:white;
    margin:auto;
}